body{
    background-color: #f9f9f9;
    background-attachment: fixed;
}
.main{
    margin-top: 20%;
    margin-left: 8%;
}
.attention{
     margin-left:7%;
}
#key{
    width: 50%;
    height: 36px;
    font-size: 20px;
}

#company{
    width: 30%;
    height: 36px;
    font-size: 20px;
}

#submit{
    width: 8%;
    height: 42px;
    font-size: 18px;
}
input::-webkit-input-placeholder{
    font-size: 20px;
    font-style: oblique;
}