body{
    background: url("/static/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.main{
    margin-top: 20%;
    margin-left: 8%;
}
.attention{
     margin-left:10%;
     margin-top:2%;
}
#key{
    width: 50%;
    height: 36px;
}
#company{
    width: 30%;
    height: 36px;
}
#submit{
    width: 8%;
    height: 42px;
    font-size: 18px;
}
input::-webkit-input-placeholder{
    font-size: inherit;
    font-style: oblique;
}
.attention p{
    font-size: 8px;
    color: white;
}
.attention p strong{
    font-size: 20px;
}