{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智诚资本评审系统————提交成功</title>
        <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                       aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list" style="color: #192552"
                                                         aria-hidden="true"></span></a></li>
                <li><a href="#http://106.75.91.135:8080/filter/search" title="搜索评审"><span class="glyphicon glyphicon-search" style="color: #192552"
                                                         aria-hidden="true"></span></a></li>
            </ul>
                                    <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                              aria-hidden="true"></span></a></li>
                            <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br><br><br><br><br><br>
<div class="container" style="width: 350px">
    <div class="alert alert-success" role="alert">
        <br>
        <div class="text-center">
            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
            <span class="sr-only"></span>提交成功！<br>
            <br>
        </div>
        <div class="btn-group btn-group-justified text-center" role="group">
            <div class="btn-group btn-lg" role="group">
                <a href="article_writing.html" title="继续写评审"><span class="glyphicon glyphicon-edit text-success"
                                                    aria-hidden="true"></span></a>
            </div>
            <div class="btn-group btn-lg" role="group">
                <a href="review_text.html?company={{ text.company }}" title="查看评审"><span class="glyphicon glyphicon-list-alt text-success"
                                                   aria-hidden="true"></span></a>
            </div>
        </div>

    </div>
</div>
</body>
</html>