{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智诚资本评审系统————在线评审</title>
    <style>
        form {
            margin: 0;
        }

    </style>
        <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="评审目录"><span class="glyphicon glyphicon-list"
                                                                   style="color: #192552"
                                                                   aria-hidden="true"></span></a></li>
                <li class="disabled"><a href="#" title="数据库"><span
                        class="glyphicon glyphicon-hdd " style="color: #192552" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
            <form class="navbar-form navbar-right" target="_blank" action="flowing_text.html">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入行业关键字" name="keyword">
                    <input type="hidden" value="market" name="type">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    style="color: #192552"
                                                                    aria-hidden="true"></span></button>
            </form>


        </div><!--/.nav-collapse -->
    </div>
</nav>
<br>
<div class="container" align="center">
    <div class="alert alert-danger text-left" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>在不同的输入框分别输入评审的各部分（企业简介，行研分析等等），相应部分不需要再写小标题（下级标题除外）。<br>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>如果某一栏没有东西可以写，那就写一个“无”，不要空白提交。<br>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>如果要上传本地图片，点击插入图片按钮后先选择图片，然后再点上传服务器，最后设定图片尺寸后再点确定。<br>
    </div>
    <form action="article_submit" method="post" name="main_form">
        <div class="input-group">
            <span class="input-group-addon alert-warning"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>评审标题</span>
            <span class="input-group-addon alert-warning" title="示例：精锐视觉智能科技（深圳）有限公司企业初审"><span
                    class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span>
        <span class="sr-only"></span></span>
            <input type="text" name="title" class="form-control" value="{{ title }}">
        </div>
        <br>
        <div class="alert alert-danger text-left" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span><strong><i>评审企业</i></strong> 这一项至关重要，预览和提交前务必确认完全填写正确！<br>
        </div>
        <div class="input-group">
            <span class="input-group-addon alert-warning"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>评审企业</span>
            <span class="input-group-addon alert-warning" title="示例：精锐视觉智能科技（深圳）有限公司"><span
                    class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span>
        <span class="sr-only"></span></span>
            <input type="text" name="company" class="form-control" value="{{ company }}">
        </div>
        <br> <br>
        <div class="input-group">
            <span class="input-group-addon alert-warning"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>编写人&ensp;&ensp;</span>
            <span class="input-group-addon alert-warning" title="示例：张三"><span class="glyphicon glyphicon-question-sign"
                                                                              aria-hidden="true"></span>
        <span class="sr-only"></span></span>
            <input type="text" name="author" class="form-control" value="{{ author }}">
        </div>
        <br> <br>
        <div class="input-group">
            <span class="input-group-addon alert-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span class="sr-only"></span>关键字&ensp;&ensp;</span>
            <span class="input-group-addon alert-warning" title="输入行业关键字，如果关键字超过1个，请用顿号分割（eg:机器视觉、人工智能）。"><span
                    class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span>
        <span class="sr-only"></span></span>
            <input type="text" name="keyword" class="form-control" value="{{ keyword }}">
        </div>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>公司简介<br>
        </div>

        <textarea id="company_introduction" name="company_introduction">{{ company_introduction }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>公司基本信息<br>
        </div>
        <textarea name="company_basic_info">{{ company_basic_info }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>股权结构<br>
        </div>
        <textarea name="company_stock">{{ company_stock }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>最新股权比例<br>
        </div>
        <textarea name="company_latest_stock">{{ company_latest_stock }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>注册资本变更<br>
        </div>
        <textarea name="company_capital_change">{{ company_capital_change }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>股东（投资人）变更信息<br>
        </div>
        <textarea name="company_stockholder_change">{{ company_stockholder_change }}</textarea>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>历史融资记录<br>
        </div>
        <textarea name="company_financing_records">{{ company_financing_records }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>知识产权<br>
        </div>
        <textarea name="company_intellectual_property">{{ company_intellectual_property }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>团队介绍<br>
        </div>
        <textarea name="company_team">{{ company_team }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>产品/业务介绍<br>
        </div>
        <textarea name="company_products">{{ company_products }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>行业分析<br>
        </div>
        <textarea name="company_market">{{ company_market }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>竞品分析<br>
        </div>
        <textarea name="company_competitor">{{ company_competitor }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>企业新闻动态罗列<br>
        </div>
        <textarea name="company_news">{{ company_news }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>总结<br>
        </div>
        <textarea name="company_summary">{{ company_summary }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>企业需要关注的问题<br>
        </div>
        <textarea name="company_problems">{{ company_problems }}</textarea>
        <br>
        <div class="alert alert-info text-left" role="alert">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <span class="sr-only"></span>建议关注的领域或线索<br>
        </div>
        <textarea name="company_suggestions">{{ company_suggestions }}</textarea>
        <br> <br>
        <nav class="navbar-fixed-bottom"  style="margin:auto;margin-bottom: 30px;width: 400px">
            <div class="navbar-collapse collapse nav-justified">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick=upload('0') style="color: #192552"><i
                        class="glyphicon glyphicon-eye-open"></i> 预览</button>
			</span>
                <span class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick=upload('2') style="color: #192552"><i
                        class="glyphicon glyphicon-floppy-open"></i> 保存</button>
			</span>
                <span class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick=upload('1') style="color: #192552"><i
                        class="glyphicon glyphicon-floppy-open"></i> 提交</button>
			</span>
                <input type="hidden" name="view_or_save">
            </div>
        </nav>
        <br> <br> <br> <br> <br> <br>
    </form>
    <script>
        CKEDITOR.replace('company_introduction', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_financing_records', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_products', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_problems', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_competitor', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_market', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_stock', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_team', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_suggestions', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_intellectual_property', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_capital_change', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_stockholder_change', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_summary', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_latest_stock', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_basic_info', {
            customConfig: '/static/ckeditor/config.js',

        });
        CKEDITOR.replace('company_news', {
            customConfig: '/static/ckeditor/config.js',

        });


        function upload(whichButton) {
            document.main_form.view_or_save.value = whichButton;
            document.main_form.submit();
        }
    </script>
</div>
</body>
</html>