{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Classic editor with custom styles</title>
        <style>
        textarea {
            display: block;
            width: 1140px;
            height: 400px;
            visibility: hidden;
            resize:none;
        }
    </style>

</head>
<script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{#<script src="//cdn.ckeditor.com/4.10.0/full/ckeditor.js"></script>#}
<body>
<form action="article_submit.html" method="post" name="main_form">
    <textarea id="editor2" name="editor2" class="ckeditor"></textarea>
    <input type="submit">
</form>
<script>
        CKEDITOR.replace('editor2', {
        customConfig: '/static/ckeditor/config.js',

    });
</script>
</body>

</html>