{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>智诚资本评审系统————{{ keyword }}-{{ type }}</title>

    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">


</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                     style="color: #192552"
                                                                     aria-hidden="true"></span></a></li>
                <li><a href="article_writing.html" title="在线写评审"><span class="glyphicon glyphicon-edit"
                                                                       style="color: #192552"
                                                                       aria-hidden="true"></span></a></li>
                <li><a href="flowing_text.html?keyword={{ keyword }}&type={{ opposite }}"
                       title="跳到{{ opposite_chinese }}原文"><span class="glyphicon glyphicon-random"
                                                                style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="test.html?keyword={{ keyword }}&type={{ type }}&is_regenerate=false" title="查看摘要"><span
                        class="glyphicon glyphicon-retweet" style="color: #192552"
                        aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">搜索完成度：{{ percent }} %</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" style="margin-top: 50px;">
    <br>
    <div class="alert alert-danger text-left" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>如果右上角完成度是0或者较低，刷新即可加载更多文章。<br>
    </div>

    <div class="starter-template" style="color: #192552">
        {% for text in text_list %}
            <h2>{{ text.title }}</h2>
            <hr>
            <div>
                {{ text.text|safe }}
            </div>
            <hr>
            <a class="btn btn-lg btn-default" href="{{ text.url }}" role="button">查看原文 &raquo;</a>
            <hr>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
</div><!-- /.container -->

</body>
</html>
