{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <script src="{% static 'js/index.js' %}"></script>

    <title>智诚资本评审系统</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #357ebd; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default">
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                              aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
</nav>
<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-color: white">
        <h1 style="font-size: 88px;font-weight: 600;color: #192552">智诚资本评审系统</h1>
        <p style="font-size: 50px;color: #192552">Witruth Capital</p>
    </div>
    <div class="commonDiv" style="width: 1200px;height: 110px">
        <br>
        <div id="navbar" class="navbar-collapse collapse text-center">
            <form class="navbar-form" id="form" action="result.html" method="post" onsubmit="return checkForm()">
                <div class="form-group input-group-lg">
                    <input type="text" id="key" name="keyword" placeholder="请输入行业关键字" class="form-control" style="width: 500px">
                </div>
                <div class="form-group input-group-lg">
                    <input type="text" id="company" name="company" placeholder="请输入公司名称" class="form-control" style="width: 500px">
                </div>
                <button type="submit" class="btn btn-default btn-lg"><i
                        class="glyphicon glyphicon-search" title="搜索"></i></button>
            </form>
        </div>
    </div>
    <br> <br><br>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4" style="color: #192552">
            <div style="font-size: 32px;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span class="sr-only"></span>在线评审
            </div>
            <br>
            <p>在线编辑，提交和查看企业评审。</p>
            <p style="font-size: 22px"><a href="article_writing.html" title="进入"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="color:#1E2B62"></span></a>
            </p>
        </div>
        <div class="col-lg-4" style="color: #192552">
            <div style="font-size: 32px;">
                <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                <span class="sr-only"></span>文本标注
            </div>
            <br>
            <p>随机获取行业文本，然后进行标注。</p>
            <p style="font-size: 22px"><a href="#" title="进入"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="color:#1E2B62"></span></a>
            </p>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>
