{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="../static/img/head.jpg" type="image/x-icon">

    <title>智诚资本评审系统————登录</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
</head>

<body>
<div style="margin:250px auto;width: 300px;height: 210px" class="commonDiv">
    <br> <br>
    <div class="text-center" style="margin: auto;width: 250px;height: 200px">
        <form name="login_from" method="post" action="log_in.html">
            {% csrf_token %}
            {% if default %}
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Bold"><span
                            class="glyphicon glyphicon-user"></span></button>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div><!-- /.input-group -->
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Bold"><span
                            class="glyphicon glyphicon-lock"></span></button>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <nav>
                <ul class="pager">
                    <li>
                        <a class="btn btn-default" href="register.html">注册</a>
                    </li>
                    <li>
                        <button class="btn btn-default" type="submit">登录</button>
                    </li>
                </ul>
            </nav>
            {% else %}
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Bold"><span
                            class="glyphicon glyphicon-user"></span></button>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div><!-- /.input-group -->
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Bold"><span
                            class="glyphicon glyphicon-lock"></span></button>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="text-left">
                    <div class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"></span>{{tip}}
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pager">
                    <li>
                        <a class="btn btn-default" href="register.html">注册</a>
                    </li>
                    <li>
                        <button class="btn btn-default" type="submit">登录</button>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </form>
    </div>
</div>

</body>
</html>
