{% load staticfiles %}
{#<!DOCTYPE html>#}
<html>
<head>
    <meta charset="UTF-8">
    <title>请稍候.......</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'img/head.jpg' %}" type="image/x-icon">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="application/javascript">
        function refresh(){
            var lists = {{ Keyword|safe }};
            $.post("percent",{'keyword':lists},function(data){
                data = JSON.parse(data);
                $("#target").text('搜索中 : '+ data['percent']+'%');
                $("#show").css({"width":data['percent']+"%"});
                if (data['percent']>= 20){
                    location.href="result?keyword="+encodeURI(data['keyword']);
                }
            });
        }
        setInterval('refresh()', 2000); //每1.5秒刷新一次页面下边显示的数据
    </script>
</head>
<body>

    <div style="padding: 15% ;background-color: #f9f9f9">
        <h1 style="text-align: center;font-size:48px;font-weight:900;color:#50285f;font-family: 'Adobe 楷体 Std R'">智诚资本</h1><br>
        <div class="progress progress-striped">
            <div class="ss progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 id="show" >
            </div>
        </div>
        <div><p id="target"  style="text-align: center"></p></div>
    </div>
</body>
</html>
