{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="{% static 'img/head.jpg' %}" type="image/x-icon">
    <title>智诚资本评审系统————注册</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
</head>

<body>
<div style="margin:110px auto;width: 800px;height: 520px" class="commonDiv">
    <br> <br>
    <div class="text-center" style="margin: 20px auto;width: 500px;height: 200px">
        <form name="register_form" method="post" action="register.html">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">账号</span>
                    <input onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" type="text" name="username"
                           class="form-control">
                </div>
            </div>
            {% if default %}
            <div class="form-group">
                <div class="text-left">
                    <div class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"></span>输入5到20位账号，只能包含大小写字母，数字和下划线。
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" type="password" name="password"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="text-left">
                    <div class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"></span>输入8到20位密码。
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">确认密码</span>
                    <input onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" type="password" name="confirm_password"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="text-left">
                    <div class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"></span>重复确认密码。
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">真实姓名</span>
                    <input type="text" name="real_name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="text-left">
                    <div class="text-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"></span>输入真实姓名。
                    </div>
                </div>
                {% else %}
                <div class="form-group">
                    <div class="text-left">
                        <div class="text-{{tip.0}}">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{tip.1}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" type="password" name="password"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">
                        <div class="text-{{tip.2}}">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{tip.3}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">确认密码</span>
                        <input onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" type="password"
                               name="confirm_password"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">
                        <div class="text-{{tip.4}}">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{tip.5}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">真实姓名</span>
                        <input type="text" name="real_name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">
                        <div class="text-{{tip.6}}">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{tip.7}}
                        </div>
                    </div>
                </div>
                {% endif %}
                <nav>
                    <ul class="pager">
                        <li>
                            <button class="btn btn-default" type="submit">提交</button>
                        </li>
                    </ul>
                </nav>
        </form>
    </div>
    <br>
    <br> <br>
    <br>
</div>

</body>
</html>
