{% load staticfiles %}
<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset='UTF-8'>
    <title>搜索结果</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <script>

        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        })
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                               aria-hidden="true"></span></a></li>
                    <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                         style="color: #192552"
                                                                         aria-hidden="true"></span></a></li>
                    <li><a href="article_writing.html" title="在线写评审"><span class="glyphicon glyphicon-edit"
                                                                           style="color: #192552"
                                                                           aria-hidden="true"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user"
                                                                    style="color: #192552"
                                                                    aria-hidden="true"></span></a></li>
                    <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                          aria-hidden="true"></span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div style="margin: 150px auto"></div>
    <div class="row">
        <div class="alert alert-warning text-left" role="alert" style="width: 980px">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>请确保行研或竞品原文的完成度稳定不再增加之后再点击获取文摘。<br>
        </div>
        <br> <br>
        <div class="col-lg-4" style="color: #192552">
            <div style="font-size: 32px;">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <span class="sr-only"></span>行研分析
            </div>
            <br>
            <p>查看网上搜索并分类好的行业研究文章。</p>
            <p style="font-size: 22px"><a href="flowing_text.html?keyword={{ keyword }}&type=market" title="进入"><span
                    class="glyphicon glyphicon-share-alt" aria-hidden="true" style="color:#1E2B62"></span></a>
            </p>
        </div>
        <div class="col-lg-4" style="color: #192552">
            <div style="font-size: 32px;">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <span class="sr-only"></span>竞品分析
            </div>
            <br>
            <p>查看网上搜索并分类好的竞品分析文章。</p>
            <p style="font-size: 22px"><a href="flowing_text.html?keyword={{ keyword }}&type=competitor"
                                          title="进入"><span class="glyphicon glyphicon-share-alt"
                                                           aria-hidden="true" style="color:#1E2B62"></span></a>
            </p>
        </div>
        <div class="col-lg-4" style="color: #192552">
            <div style="font-size: 32px;">
                <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                <span class="sr-only"></span>获取文摘
            </div>
            <br>
            <p>生成行研或者竞品的文摘。</p>
            <p style="font-size: 22px"><a href="test.html?keyword={{ keyword }}&type=market&is_regenerate=false"
                                          title="获取行研文摘"><span class="glyphicon glyphicon-globe"
                                                               aria-hidden="true" style="color:#1E2B62"></span></a>&nbsp;&nbsp;&nbsp;
                &nbsp;
                <a href="test.html?keyword={{ keyword }}&type=competitor&is_regenerate=false" title="获取竞品文摘"><span
                        class="glyphicon glyphicon-stats"
                        aria-hidden="true" style="color:#1E2B62"></span></a>
            </p>

        </div>
    </div>
</main>
</body>
</html>