{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智诚资本评审系统————评审目录</title>
        <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                     style="color: #192552"
                                                                     aria-hidden="true"></span></a></li>
                <li class="disabled"><a href="#" title="数据库"><span
                        class="glyphicon glyphicon-hdd " style="color: #192552" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">评审目录</h1>
        <p class="lead blog-description">Index for enterprise reviews.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="list-group">
                <table>
                    {% for text in text_list %}
                        <tr class="list-group-item">
                            <td><span class="glyphicon glyphicon-folder-open text-info" aria-hidden="true"></span><span
                                    class="sr-only"></span></td>
                            <td style="width: 550px"><a
                                    href="review_text.html?company={{ text.company }}">&ensp; {{ text.title }}</a></td>
                            <td align="right" class="text-info">{{ text.upload_time }}</td>
                            <td align="right" style="width: 25px;"><a href="download_pdf?company={{ text.company }}" title="下载评审"><span
                                    class="glyphicon glyphicon-download-alt text-info"
                                    aria-hidden="true"></span><span
                                    class="sr-only"></span></a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>


            <nav>
                <ul class="pager">

                    <li><a href="#home" title="上一页"><span class="glyphicon glyphicon-arrow-left" style="color: #192552"
                                                          aria-hidden="true"></span></a></li>
                    <li><a href="#home" title="下一页"><span class="glyphicon glyphicon-arrow-right" style="color: #192552"
                                                          aria-hidden="true"></span></a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <div style="font-size: 18px;">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <span class="sr-only"></span>提示
                </div>
                <br>
                <div class="text-info">
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <span class="sr-only"></span>暂时没想到提示什么好<br>
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <span class="sr-only"></span>暂时没想到提示什么好<br>
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <span class="sr-only"></span>暂时没想到提示什么好<br>
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <span class="sr-only"></span>暂时没想到提示什么好<br>
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <span class="sr-only"></span>暂时没想到提示什么好<br>
                </div>
            </div>
            <br>
            <br>
            <div class="sidebar-module">
                <div style="font-size: 18px;">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <span class="sr-only"></span>评审分类
                </div>
                <br>
                <ol class="list-unstyled">
                    <div class="text-info">
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                        <li><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时不知道分什么类好</a></li>
                    </div>
                </ol>
            </div>
            <br> <br>
            <div class="sidebar-module">
                <div style="font-size: 18px;">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <span class="sr-only"></span>友情链接
                </div>
                <br>
                <div class="text-info">
                    <ol class="list-unstyled">
                        <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时没朋友</a></li>
                        <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时没朋友</a></li>
                        <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span class="sr-only"></span><a href="#">暂时没朋友</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
</body>
</html>