{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智诚资本评审系统————{{ text.title }}</title>
    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                     style="color: #192552"
                                                                     aria-hidden="true"></span></a></li>
                <li class="disabled"><a href="#" title="数据库"><span
                        class="glyphicon glyphicon-hdd " style="color: #192552" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
            <form class="navbar-form navbar-right" target="_blank" action="flowing_text.html">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入行业关键字" name="keyword">
                    <input type="hidden" value="market" name="type">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    style="color: #192552"
                                                                    aria-hidden="true"></span></button>
            </form>

        </div>
    </div>
</nav>
<div class="container">
    <div>
        <div id="review_content" class="row">

            <div>

                <div class="blog-post" style="color: #192552">
                    <h1 class="blog-post-title" style="font-weight:900;">{{ text.title }}</h1>
                    <br>
                    <p class="blog-post-meta">{{ text.upload_time }} &ensp;by &ensp;<i>{{ text.author }}</i></p>
                    <hr>
                    <h2>公司简介</h2>
                    <hr>
                    <br>
                    {{ text.company_introduction|safe }}
                    <hr>
                    <h2>公司基本信息</h2>
                    <hr>
                    {{ text.company_basic_info|safe }}
                    <hr>
                    <h2>股权结构</h2>
                    <hr>
                    {{ text.company_stock|safe }}
                    <hr>
                    <h2>最新股权比例</h2>
                    <hr>
                    {{ text.company_latest_stock|safe }}
                    <hr>
                    <h2>注册资本变更</h2>
                    <hr>
                    {{ text.company_capital_change|safe }}
                    <hr>
                    <h2>股东（投资人）变更信息</h2>
                    <hr>
                    {{ text.company_stockholder_change|safe }}
                    <hr>
                    <h2>历史融资记录</h2>
                    <hr>
                    {{ text.company_financing_records|safe }}
                    <hr>
                    <h2>知识产权</h2>
                    <hr>
                    {{ text.company_intellectual_property|safe }}
                    <hr>
                    <h2>团队介绍</h2>
                    <hr>
                    {{ text.company_team|safe }}
                    <hr>
                    <h2>产品/业务介绍</h2>
                    <hr>
                    {{ text.company_products|safe }}
                    <hr>
                    <h2>行业分析</h2>
                    <hr>
                    {{ text.company_market|safe }}
                    <hr>
                    <h2>竞品分析</h2>
                    <hr>
                    {{ text.company_competitor|safe }}
                    <hr>
                    <h2>企业新闻动态罗列</h2>
                    <hr>
                    {{ text.company_news|safe }}
                    <hr>
                    <h2>总结</h2>
                    <hr>
                    {{ text.company_summary|safe }}
                    <hr>
                    <h2>企业需要关注的问题</h2>
                    <hr>
                    {{ text.company_problems|safe }}
                    <hr>
                    <h2>建议关注的领域或线索</h2>
                    <hr>
                    {{ text.company_suggestions|safe }} <br> <br> <br>


                </div>


            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </div>
</div>
</body>
</html>