{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>智诚资本评审系统————{{ title }}文摘</title>
    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                     style="color: #192552"
                                                                     aria-hidden="true"></span></a></li>
                <li><a href="article_writing.html" title="在线写评审"><span class="glyphicon glyphicon-edit"
                                                                       style="color: #192552"
                                                                       aria-hidden="true"></span></a></li>
                <li><a href="test.html?keyword={{ keyword }}&type={{ type }}&is_regenerate=true"
                       title="重新生成{{ type_chinese }}文摘"><span class="glyphicon glyphicon-refresh" style="color: #192552"
                                                              aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_page.html" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                                aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" style="margin-top: 50px;">

    <div class="starter-template" style="color: #192552">
        <br>
        <h2>{{ title }}-{{ type }}-文摘</h2>
        <br>
        {% for seq in blog_list %}
            <p style="font-size: 120%">{{ seq|safe }}</p>
            <br>
        {% endfor %}

    </div>

</div><!-- /.container -->

</body>
</html>
