{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智诚资本评审系统————个人页面</title>
    <link rel="icon" href="{% static 'img/head.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script language="javascript">
        function del() {
            var msg = "是否确定删除文章？";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html" title="返回主页"><span class="glyphicon glyphicon-home" style="color: #192552"
                                                           aria-hidden="true"></span></a></li>
                <li><a href="review_index.html" title="查看评审列表"><span class="glyphicon glyphicon-list"
                                                                     style="color: #192552"
                                                                     aria-hidden="true"></span></a></li>
                <li><a href="article_writing.html" title="在线写评审"><span class="glyphicon glyphicon-edit"
                                                                       style="color: #192552"
                                                                       aria-hidden="true"></span></a></li>
                <li class="disabled"><a href="#" title="数据库"><span
                        class="glyphicon glyphicon-hdd " style="color: #192552" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" title="个人页面"><span class="glyphicon glyphicon-user" style="color: #192552"
                                                   aria-hidden="true"></span></a></li>
                <li><a href="logout" title="注销"><span class="glyphicon glyphicon-log-out" style="color: #192552"
                                                      aria-hidden="true"></span></a></li>
            </ul>
            <form class="navbar-form navbar-right" target="_blank" action="flowing_text.html">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入行业关键字" name="keyword">
                    <input type="hidden" value="market" name="type">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    style="color: #192552"
                                                                    aria-hidden="true"></span></button>
            </form>

        </div>
    </div>
</nav>
<div class="container">

    <div style="margin:auto;width: 900px;height: 650px">

        <div>
            <h3 style="color: #192552">初审目录</h3>
            <hr>

            <div class="list-group">
                <table style="width: 900px">
                    {% for text in text_list %}
                        <tr class="list-group-item">
                            <td><span class="glyphicon glyphicon-folder-open text-info"
                                      aria-hidden="true"></span><span
                                    class="sr-only"></span></td>
                            <td style="width: 650px"><a
                                    href="review_text.html?company={{ text.company }}">&ensp; {{ text.title }}</a>
                            </td>
                            <td align="right" class="text-info" style="width: 150px">{{ text.upload_time }}</td>
                            <td align="right" style="width: 40px;"><a
                                    href="article_writing.html?company={{ text.company }}" title="修改评审"><span
                                    class="glyphicon glyphicon-pencil text-info"
                                    aria-hidden="true"></span><span
                                    class="sr-only"></span></a></td>
                            <td align="right" style="width: 25px;"><a onclick="return del()" href="delete_review?company={{ text.company }}" title="删除评审"><span
                                    class="glyphicon glyphicon-remove text-info"
                                    aria-hidden="true"></span><span
                                    class="sr-only"></span></a></td>
                            <td align="right" style="width: 25px;"><a title="下载评审"><span
                                    class="glyphicon glyphicon-download-alt text-info"
                                    aria-hidden="true"></span><span
                                    class="sr-only"></span></a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>

    </div>
</div>
<nav>
    <ul class="pager">

        <li><a href="#home" title="上一页"><span class="glyphicon glyphicon-arrow-left" style="color: #192552"
                                              aria-hidden="true"></span></a></li>
        <li><a href="#home" title="下一页"><span class="glyphicon glyphicon-arrow-right" style="color: #192552"
                                              aria-hidden="true"></span></a></li>
    </ul>
</nav>

</div>
</body>
</html>